@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: #161d10;
  background-size: cover;
}

/* Card Formatting */


#container {
  position: absolute;
  top: 8vh;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* flex-basis: auto; */
  align-items: center;
  min-width: 100%;
  height: 92vh;
  z-index: 3;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

@media screen and (min-width:721px) {
  #container .newCard {
    max-width: 680px;
  }
}

#container .newCard:first-child {
  margin-top: 1vh;
}

#container .newCard {
  position: relative;
  width: 95%;
  margin-bottom: 4vh;
  box-shadow: -20px -20px 60px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.15);
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(8px);
}

#container .newCard .content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

#container .newCard .content h2 {
  font-size: 3em;
  color: rgb(255, 255, 255, 0.4);
  pointer-events: none;
}

#container .newCard .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

#container .newCard .content p, label {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  margin: 10px auto 5px auto;
}

#container .newCard .content .cardButton {
  position: relative;
  display: block;
  padding: 4px 20px;
  margin: 15px auto 0 auto;
  /* background: rgba(108, 255, 160, 0.726); */
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255,255,255,0.8);
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  border-bottom: 2px solid rgba(255,255,255,0.5);
  border-right: 2px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: none;
  max-width: 300px;
}

#container .newCard .content .cardButton:hover {
  /* background: rgba(99, 250, 152, 0.836); */
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(255,255,255,0.4);
  border-right: 2px solid rgba(255,255,255,0.4);
  border-left: 1px solid rgba(255,255,255,0.2);
}

#container .newCard .content .cardButton:active {
  background: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid rgba(255,255,255,0.2);
  border-right: 2px solid rgba(255,255,255,0.2);
  border-left: 1px solid rgba(255,255,255,0.1);
}

#container .newCard .content .cardButton:disabled {
  background: rgba(22, 29, 16, 0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.5);
  border-top: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
  color: rgba(255, 255, 255, 0.575);

}

#container .newCard .content a {
  /* color: #52d881; */
  color: rgb(226, 104, 5);
}



#intro-collapse {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#intro-form {
  overflow: hidden;
  width: 95%;
  flex: none;
}

#intro-form-result {
  overflow: hidden;
  display: none;
  width: 95%;
  flex: none;
}

.intro-form-result h2 {
  font-size: 3.0em;
  color: rgb(255, 255, 255, 0.4);
  pointer-events: none;
}

.intro-form-result h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}



/* .intro-btn-group {
  display: flex;
  justify-content: center;
}

.intro-btn-group .cardButton:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

.intro-btn-group .cardButton:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
} */

/* Form Inputs */

.newCard input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
  background: rgba(22, 29, 16, 0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.5);
  border-top: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  color: rgba(255,255,255,0.8);
  display: block;
  margin: 0 auto;
  text-align: center;
}

.newCard input[type="text"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder {
  color: rgba(255,255,255,0.6);
}

.newCard input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus {
  background: rgba(22, 29, 16, 0.8);
  border-right: 1px solid rgba(255,255,255,0.7);
  border-bottom: 1px solid rgba(255,255,255,0.7);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.9);
  outline: none !important;
}


/* Styles for Form Validation */

.entryError {
  border: 1px solid rgba(255, 0, 0, 0.5) !important;
  color: rgb(255, 0, 0) !important;
}

.accessAlerts {
  position: relative;
  display: block;
  padding: 4px 20px;
  margin: 15px auto 0 auto;
  background: rgba(255, 255, 255, 0.137);
  color: rgba(255,255,255,0.8);
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: none;
  text-align: left;
}

.accessAlerts li {
  list-style-type: square;
}